
.E-waste__feature-container__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: row;
    margin:1rem;

}
.E-waste__feature-container__feature-title {
    flex:1;
    max-width:180px;
    margin-right:2rem;
    
}
.E-waste__feature-container__feature-title h1{
    font-family:var(--font-family);
    
    font-weight:800;
    font-size:18px;
    line-height:24px;
    letter-spacing:-0.04rem;
    color:#FFFFFF;
}
.E-waste__feature-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
}
.E-waste__feature-container__feature-title div{
    width:38px;
    height:3px;
    background: var(--gradient-bar);
    box-shadow:0 4px 4px rgba(0,0,0,0.25);
    margin-bottom:0.25rem;

}
.E-waste__feature-container__feature-text{
    flex:2;
    max-width:390px;
    display:flex;

} 
.E-waste__feature-container__feature-text p{
    font-family:var(--font-family);
    font-weight:500;
    font-size:14px;
    line-height:24px;
    color: #81AFDD;

    
} 


@media screen and (max-width: 990px) {
    .E-waste__feature {
        flex-direction: column;
    }

    .E-waste__feature-heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .E-waste__feature-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }
    .E-waste__feature-container__feature-title p {
        font-size: 12px;
        line-height: 20px;
    }
    .E-waste__feature-container__feature{
        margin:1rem 0;
    }
    
}