/* FloatingButton.css */

.floating-button-container {
    position: fixed;
    bottom: 40px;
    right: 40px;
  }
  
  .floating-button {
    background: linear-gradient(45deg, rgba(0, 255, 0, 1), rgba(0, 128, 0, 1));
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 10px; /* Adjust the radius as needed */
    font-size: 22px;
    font-family: var(--font-family);
    font-weight: 500;
    font-style: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


  
.floating-button:hover {
  background: linear-gradient(45deg, rgba(0, 255, 0, 0.8), rgba(0, 128, 0, 0.8));
}
  